.button {
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: 500;
    background: none;
    border: 2px solid rgb(94, 55, 19);
    color: rgb(94, 55, 19);
  }